@font-face{
    font-family: "Bigilla";
    src : url("../fonts/Bigilla.otf");
}
@font-face{
    font-family: "BigillaBold";
    src : url("../fonts/Bigilla-Bold.otf");
}
@import url('https://fonts.googleapis.com/css2?family=Jost:wght@100;300;400;500;700&display=swap');